#map {
    height: 400px;
    width: 600px;
}
.container-table {
    height: 300px;
    overflow-y: auto;
}
@media only screen and (max-width : 400px) {
    #map {
        height: 400px;
        width: 305px;
    }     
}
@media only screen and (max-width : 390px) {
    #map {
        height: 400px;
        width: 260px;
    }     
}